{% extends "base.html" %}
{% block header %}

{{ super() }}
<h2>Graf entry/exit - zobrazení</h2>
{% endblock %}

{% block content %}
<div class="graf_ee"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
    var data = new google.visualization.DataTable();
        data.addColumn('string', 'Datum');
        data.addColumn('number', 'Entry');
        data.addColumn('number', 'Exit');
        data.addColumn('number', 'Technical capacity entry');
        data.addColumn('number', 'Technical capacity exit');
        data.addColumn('number', 'Average physical flow 2017-2018 entry');
        data.addColumn('number', 'Average physical flow 2017-2018 exit');
        data.addRows([

            {% for datum, entry, exit_ , technical_capacity_exit, technical_capacity_entry, physical_flow_entry, physical_flow_exit in data_rows %}
                [ "{{ datum }}", {{ entry }}, {{ -exit_ }}, {{ technical_capacity_entry }}, {{ technical_capacity_exit }}, {{ physical_flow_entry }}, {{ physical_flow_exit }}]
                // new Date(datum).toISOString()
                {% if not loop.last %},{% endif %}    
            {% endfor %}  
        ]);

        var options = {
        title: 'Graf entry/exit',
        vAxis: {title: 'kWh/d'},
        isStacked: false,
        colors: ['#90ee90', '#d8bfd8', '#144069', '#144069', '#ffa500', '#ffa500'],
        seriesType: 'steppedArea',
        series: {3: {type: 'line'}, 2: {type: 'line'}, 4: {type: 'line', lineDashStyle: [4,4]}, 5: {type: 'line', lineDashStyle: [4,4]}},
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
    </script>
</div>
{% endblock %}