{% extends "base.html" %}
{% block header %}

{{ super() }}
<h2>Graf Entry/Exit - zobrazení</h2>
{% endblock %}

{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
    var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'entry');
        data.addColumn('number', 'exit');
        data.addColumn('number', 'technická kapacita exit');
        data.addColumn('number', 'technická kapacita entry');
        data.addRows([

            {% for datum, entry, exit_ , technical_capacity_exit, technical_capacity_entry in data_rows %}
                [ "{{ datum }}", {{ entry }}, {{ -exit_ }}, {{ technical_capacity_exit }}, {{ technical_capacity_entry }}]
                // new Date(datum).toISOString()
                {% if not loop.last %},{% endif %}    
            {% endfor %}  
        ]);

        var options = {
        title: 'IP Entry / Exit',
        vAxis: {title: 'kWh/d'},
        isStacked: false,
        colors: ['#ADFF2F', '#00BFFF', '#144069', '#144069'],
        seriesType: 'steppedArea',
        series: {3: {type: 'line'},2: {type: 'line'}},
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
    </script>
{% endblock %}