{% extends "base.html" %}
{% block header %}

{{ super() }}
<h2>Graf entry/exit - zobrazení</h2>
{% endblock %}

{% block content %}
<div class="graf_ee"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
    var data = new google.visualization.DataTable();
        
        var data_rows = {{ data_rows|safe }}

        data.addColumn('string', 'Date');
        data.addColumn('number', 'Entry');
        data.addColumn('number', 'Exit');
        data.addColumn('number', 'Technical capacity entry');
        data.addColumn('number', 'Technical capacity exit');
        data.addColumn('number', 'Average physical flow 2017-2018 entry');
        data.addColumn('number', 'Average physical flow 2017-2018 exit');

        // for (row of data_rows) {
        //     console.log(row)
        //     row[0] = new Date(row[0])
        // }

        data.addRows(data_rows);

        var options = {
        title: 'Graf entry/exit',
        vAxis: {title: 'kWh/d'},
        isStacked: false,
        colors: ['#48d1cc', '#fa8072', '#144069', '#144069', '#ffa500', '#ffa500'],
        seriesType: 'steppedArea',
        series: {3: {type: 'line'}, 2: {type: 'line'}, 4: {type: 'line', lineDashStyle: [4,4]}, 5: {type: 'line', lineDashStyle: [4,4]}},
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
    </script>
</div>
{% endblock %}