{% extends "base.html" %}
{% block header %}

{{ super() }}
<h2>Graf indikátorů - výběr hodnot</h2>
{% endblock %}

{% block content %}
    <form method="GET" action="{{ url_for('render_plot_I') }}">
        {{ form.hidden_tag() }}
        <table>
            <tr><td>{{ form.operator.label }}: </td><td>{{ form.operator }}</td></tr>
            <tr><td>{{ form.point.label }}: </td><td>{{ form.point }}</td></tr>
            <tr><td>{{ form.direction.label }}: </td><td>{{ form.direction }}</td></tr>
            <tr><td>{{ form.indicator.label }}:</td><td>{{ form.indicator }}</td></tr>
            <!--<tr><td>{{ form.indicator2.label }}:</td><td>{{ form.indicator2 }}</td></tr> toto pouze v případě, že by se dávala indikátorům zvlášť funkce-->
            <tr><td>{{ form.date_from.label }}: </td><td>{{ form.date_from }}</td></tr>
            <tr><td>{{ form.date_to.label }}: </td><td>{{ form.date_to }}</td></tr>
            <tr><td></td><td><input type="submit" style="width: 100%;"></td></tr>
        </table>
    </form>
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <span style="color: red;">Chyba pole - {{ field }} zkontroluj kombinaci operátora a IP - {{ error }}</span><br>
        {% endfor %}
    {% endfor %}
    <hr>
    Výsledek: {% if form.validate_on_submit() %} 
        <img src="{{ url_for('render_plot_I', operator=form.operator.data, point=form.point.data, indicator=form.indicator.data, direction=form.direction.data, date_from=form.date_from.data, date_to=form.date_to.data) }}">
        <img src="{{ url_for('chart2') }}">
        <!--tady jsem označila chart2, ale netuším, jestli se to tak mělo a doplnila jsem indicator do src výše-->
    {% else %} Vyplň formulář {% endif %}
    
{% endblock %}