
{% extends "base.html" %}
{% block header %}

{{ super() }}
{% endblock %}

{% block content %}
    <div class="graf_vlevo" style="float: left;">
      <div class="nadpis_grafu_vlevo">Graf Entry/Exit</div><br>
    <a href="\graf_E"><img src="/static/Graf1.jpg" alt="Graf_Entry/Exit" height="150px" width="300px"></a></div>
    <div class="graf_vpravo" style="float: right;">
      <div class="nadpis_grafu_vpravo">Graf Indikátorů</div><br>
    <a href="\graf_I"><img src="/static/Graf2.jpg" alt="Graf_Indicators" height="150px" width="300px"></a></div>
    
{% endblock %}